*{
  font-family: 'Poppins', sans-serif;

}

body{
  background-color: #fefefe;
}

.mainbg1{
 background-color: #0099ff; 
 
 padding-bottom: 0px;
}

.mainbg2{
  background-color: #e6e6e6; 
  padding-bottom: 0px;
 }

.mainnav1{
  background-color: #0099ff; 
  padding-bottom: 0px;
 }



/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1562243061-204550d8a2c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-size: cover;
  background-position: center center;
}






.tag{
    text-align: center;
    font-size: 1.1rem
}
.fa-heart{
    color: rgba(255, 230, 0, 0.959);
    font-size: 30px
}
.card{
    height: 320px;
    padding: 10px 20px;
    border: none;
    box-shadow: -1px 3px 5px #a7a7a7
}
.testimonial{
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 500
}
.active-star{
    color: #FBC02D;
    margin-bottom: 8px
}
.active-star:hover{
    color: #F9A825;
    cursor: pointer
}
.profile{
    padding-top: 10px
}
.name{
    font-weight: 700
}
.designation{
    font-size: 0.84rem;
    font-weight: 600
}
.owl-carousel{
    margin-bottom: 15px
}
.owl-carousel .owl-stage-outer{
    padding: 40px 10px;
    height: 380px
}
.owl-carousel .owl-item img{
    width: 45px !important;
    height: 45px;
    border-radius: 50%;
    object-fit: cover
}
.owl-theme .owl-nav [class*='owl-']{
    border-radius: 50% !important;
    background: inherit !important;
    border: 3px solid #bbb;
    color: #bbb !important
}
.owl-theme .owl-nav [class*='owl-']:hover{
    border: 3px solid #1010ca;
    color: #1010ca !important
}
@media(max-width: 575.5px){
    .containerOWL{
        margin: 0px;
        padding: 20px
    }
}
